.auth-container, .auth-main {
  height: 100vh;
  min-height: 100vh;
}

.left-img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}